@font-face {
  font-family: 'GP Premium';
  src:  url('https://cdn.jsdelivr.net/gh/govtjobweb/com/static/helper/gp-premium/general/icons/gp-premium.eot');
  src:  url('https://cdn.jsdelivr.net/gh/govtjobweb/com/static/helper/gp-premium/general/icons/gp-premium.eot#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/govtjobweb/com/static/helper/gp-premium/general/icons/gp-premium.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/govtjobweb/com/static/helper/gp-premium/general/icons/gp-premium.ttf') format('truetype'),
    url('https://cdn.jsdelivr.net/gh/govtjobweb/com/static/helper/gp-premium/general/icons/gp-premium.svg#gp-premium') format('svg');
  font-weight: normal;
  font-style: normal;
}
